.review{
    margin:15px 0;
}
.client_review{
    display:flex;
    justify-content:flex-start;
    flex-direction: row;
    flex-wrap:nowrap;
}
.client_review .comment{
    background-color: #fff;
    border-radius:15px;
    padding:10px 100px;
    margin:0 15px;
    font-size:16px;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.user_comment{
    display:flex;
    justify-content:flex-start;
    flex-direction: row-reverse;
    flex-wrap:nowrap;
}

.user_comment .comment{
    background-color: #012a57;color:#fff;
    border-radius:15px;
    margin:0 15px;
    padding:10px 100px;
    font-size:16px;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.userAvatar{
    width:50px;
    height:50px;
    border-radius:50%;
}
.comment_form {
    margin-top:20em;
    min-width:90%;
    height: 70px;
    border:none;
    border-radius:15px;
    padding-right:-10%;
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
.comment_form:focus{
    outline: none;
}
.comment_form_button {
    background:
    #009e61;
    border-radius: 8px;
    padding: 11px 40px 11px 40px;
    color:
    white;
    margin-left:-12%;
}