/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: #E5E5E5;
} */
*{
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input{
  padding-left: 10px;
  outline: none;
}

button{
  border: none;
  outline: none;
}
a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: white;
}

select{
  border: none;
  outline: none;
  padding-left: 10px;
  outline: none;
}

textarea{
  padding-left: 10px;
  outline: none;
}

li.sidebar-logo {
  color: #516DE4;
  font-weight: 800;
  font-size: 1.3rem;
  margin-left: 1.3rem;
  margin-bottom:7rem;
}
li.sidebar-menu {
  color: white;
  font-size: 0.95rem;
  margin-bottom: 1.5rem;
}
.sidebar-icon-container {
  height: auto;
  width: 16px;
  margin: 2px 15px;
  display: inline-block;
}
img.sidebar-icon {
  width: 100%;
  height: auto;
}
h4.bold-550,h3.bold-550,h5.bold-550,h6.bold-550,label.bold-550,p.bold-550,span.bold-550,h1.bold-550 {
  font-weight: 550;
}
div.menu-item {
  text-align: center;
}
span.sidebar-menu-title {
  cursor: pointer;
}

button.btn.btn-success {
  background-color: #1C9E61;
  padding: 15px;
  min-width: 141px;
  border-radius: 8px;
  margin-top: 2rem;
}

section.page-section {
  padding: 15px;
  margin-bottom: 25px;
}

span.sidebar-icon-container.fa {
  color: #72819d;
}
.card {
  padding: 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 1.5px 5px 4.5px 3px #fff5f5;
}
.small.text-warning {
  color: #FFA866!important;
  font-size: small;
  font-weight: 550;
}
.bg-dark h1{
  font-size: 3.5rem;
}
.bg-dark h1 span{
  font-size: 2rem;
}
.bg-dark {
  background-color: #1E253A !important;
}

.search-icon.input-group-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: .375rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #fdfcfc;
  border: none;
  border-radius: .25rem;
  border-bottom: 1px solid #e2dbdb;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fdfcfc;
}
.table-bordered td, .table-bordered th {
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 33px;
  padding-bottom: 17px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: none;
}
input.search-engine{
  border: none;
  border-bottom: 1px solid #e2dbdb;
  background-color: #fdfcfc;
}

span.input-group-text.fa {
  color: #516de4;
  font-size: larger;
}

.btn-primary,.btn-warning {
  color: #fff;
  background-color: #516DE4;
  border-color: #516DE4;
  padding: 13px;
  text-align: center;
  border-radius: 5px;
  min-width: 160px;
}
.btn-warning,.btn-warning:hover,.btn-warning:focus{
  background-color: #FFA866;
  border-color:#FFA866;
  color:white;
}
div.full-width {
  width: 100% !important;
}
.btn-danger,.btn-danger:hover,.btn-danger:active {
  color: #fff;
  background-color: #F28F8F;
  border-color: #F28F8F;
  padding: 13px;
  text-align: center;
  border-radius: 5px;
  min-width: 160px;
}
.btn-default {
  color: #fff;
  background-color: #516DE4;
  border-color: #516DE4;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  width: 100%;
}
p{
  font-size : 13px;
  margin-top: 0;
  margin-bottom: 0px;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.5em + .75rem + 2px);
  padding: 0.375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
select.form-control {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}
.form-control::focus{
  border: 1px solid #3478f7;
}
span.fa.fa-angle-down.select-arrow,.custom-input-group-prepend {
  position: absolute;
  top: 50px;
  right: 25px;
  color: #348cf8;
  font-size: 1.4rem;
}
.custom-input-group-prepend{
  top:11px
}

.icon-image-container {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right:30px;
}
.icon-image-desc{
  display: inline-block;
  cursor: pointer;
}
img{
  width: 100%;
  height: auto;
}
.col-md-7.setting-content-container {
  border-left: 2px solid #f1ecec;
}
.profile-image-container {
  width: 150px;
  height: 150px;
  margin: 50px auto;
}
.profile-image-container img{
  border-radius: 50%;
}

button.restore-action-button,button.disable-action-button,button.delete-action-button {
  padding: 8px;
  min-width: 100px;
  border-radius: 10px;
  color: #1C9E61;
  background-color: rgba(28, 158, 97, 0.17);
}

button.disable-action-button {
  background-color: aliceblue;
  color: #FFA866;
}
button.delete-action-button{
  background-color: #ffeaea;
  color:#F28F8F;
}
.big-illustration-container {
  width: 500px;
  height: 500px;
  margin: 40px auto;
}


.Table-sec .table-bordered {
  border: none;
}
button.btn.btn-primary.btn-primary-outline {
  background-color: white;
  color: #516de4;
}
a.view-more-link.text-primary {
  font-size: 14px;
  font-weight: 550;
}
.table-no-bordered td, .table-no-bordered th {
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 33px;
  padding-bottom: 17px;
  border-bottom: 1px solid #efdddd;
  border-top: 1px solid #efdddd;
}
.item-card{
  min-height: 250px;
}
.bg-primary {
  background-color: #2D4EF5 !important;
  color: white;
}
.icon-image-container-no-margin {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 0px;
}
@media(max-width:725px){
  .mobile-mt-20{
    margin-top: 20px;
  }
}