.pg-dimacation{
    width: 90%;
    height: 1px;
    background-color: rgba(131, 134, 144, 0.17);
    margin-top: 20px;
}

.page-roter-list {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.page-roter-list div{
    display: flex;
    margin-right: 20px;
}

.create_cupon-btn button{
    background: #2D4EF5;
    border-radius: 8px;
    padding: 11px 30px 11px 30px;
    color: white;
}

.page-router-name
{

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #1E253A;
    display: block;
    cursor: pointer;
}

.page-router-name-active
{

    display: block;
    cursor: pointer;
    transition: all 500ms ease-in forwards;
}

.page-router-name-active::after{
    content: "";
width: 70px;
background-color: #2D4EF5;
height: 3px;
display: block;
position: relative;
top: 20px;
}

.create-cupon-page{
    width: 100%;
}

.inputbox-cupon{
    position: relative;
    width: 90%;
}

.inputbox-cupon .icon{
  position: absolute;
  top: 7px;
  right: 12px;
  
}

.create-conpon-container{
    width: 93%;
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
}
.create-conpon-container .cupon-input-box {
    width: 100%;
    margin-top: 20px;
    }
.create-conpon-container .cupon-input-box input{
width: 100%;
background: #FFFFFF;
border: 1px solid rgba(45, 78, 245, 0.08);
box-sizing: border-box;
border-radius: 5px;
height: 40px;
position: relative;
}
.react-datepicker-wrapper{
    width: 100%;
}
.create-conpon-container .cupon-input-box .react-datepicker__input-container input{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid rgba(45, 78, 245, 0.08);
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
    position: relative;
    }

.create-conpon-container .cupon-input-box input:focus{

    border: 1px solid blue;

    }

    .cupon-text-area-box label{
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #000000;
        margin-left: 6px;
    }

    .create-conpon-container .cupon-input-box label{
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: #000000;
        margin-left: 6px;
        }

        .create-conpon-container .cupon-input-box label span{
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            color: #F28F8F;
            }

            .cupon-text-area-box .cupon-input-box label span{
                font-weight: 500;
                font-size: 24px;
                line-height: 33px;
                color: #F28F8F;
                }

            .create-conpon-container .cupon-input-box select:focus{

                border: 1px solid blue;
            
                }

            .create-conpon-container .cupon-input-box  select {
                width: 100%;
                padding: 5px 90px 5px 5px;
                font-size: 16px;
                background-color: #FFFFFF;
                border: 1px solid rgba(45, 78, 245, 0.08);
                box-sizing: border-box;
                border-radius: 5px;
                height: 40px;
                position: relative;
                background: url('../Assets/arrowDown.png') no-repeat right #FFFFFF;
                -webkit-appearance: none;
                background-position-x: 90%;
            }

            .cupon-text-area-box{
                width: 96%;
    --auto-grid-min-size: 40%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
                margin-top: 15px;
            }

            .textareaCon{
                width: 100%;
            }
           

            .cupon-input-box textarea{
                width: 100%;
                background: #FFFFFF;
                border: 1px solid rgba(45, 78, 245, 0.08);
                box-sizing: border-box;
                border-radius: 5px;
                height: 224px;
            position: relative;
            }

            .textareaCon .cuponTextCount{
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                margin-left: 5px;
                color: #2D4EF5;
            }

            .textareaCon .cuponTextCount span{
                font-weight: normal;
                font-size: 16px;
                line-height: 21px;
                
                color: #687bd885;
            }

            .cupon-input-box textarea:focus{

                border: 1px solid blue;
            
                }

                .submit-cupon-button{
                    display: flex;
                    width: 92%;
                    justify-content: flex-end;
                    align-items: flex-end;
                    margin-bottom: 40px;
                    margin-top: 15px;
                }

                .submit-cupon-button button{
                    border-radius: 8px;
                    padding: 10px 40px 10px 40px;
                    margin-right: 20px;
                    
                }

                .InactivaeSubmit-cupon{
                    
                background: #EBEBEB;
                color: white;
                }

                .activaeSubmit-cupon{
                    background: #2D4EF5;
                    color: white;
                    }

                    @media(max-width:400px){

                        .create-conpon-container{
                            width: 100%;
                            --auto-grid-min-size: 16rem;
                            display: grid;
                            grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
                        }

                        .cupon-text-area-box{
                            width: 93%;
                --auto-grid-min-size: 100vw;
                        }

                        .submit-cupon-button{
                            justify-content: center;
                            align-items: center;
                        }

                    }
.dragDropArea{
    display:flex;
    height:500px;
    width:500px;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 15px;
}
.upload_form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: center; */
    margin-top: 38px;
    
}

.viewUploadsv{
    margin-left: 40px !important;
}

.fileUploadinfo{
    margin-bottom: 20px;
}

.viewUploads{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.viewUploads .fileType{
    background: #2D4EF5;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewUploads .fileName div:first-child{
    font-size: 16px;
line-height: 21px;

color: #1E253A;
}

.viewUploads .fileName div:last-child{
    font-size: 16px;
line-height: 21px;

color: rgba(128, 128, 128, 0.568);
}

.upload_form .fileUploadinfo h1{

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: black;
}

.upload_form .fileUploadinfo h2{

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: rgba(128, 128, 128, 0.685);
}


.upload_col{
    margin:0 15px;
}
.upload_col h4{
    font-size:15px;
}
.font-weight-bold{
    font-weight: bold;
}
.font-weight-light{
    font-weight:300;
}
.publish_button{
    background:
    #009e61;
    border-radius: 8px;
    padding: 11px 40px 11px 40px;
    color:
    white;
}
.file_upload{
    display:flex;
    flex-direction: row;
    justify-content: baseline;
    flex-wrap: nowrap;
    padding-left:30px;
    margin:10px 0;
    justify-content: flex-start;
    align-items: flex-start;
}
.file_upload>span:before{
    content:'MP4';
    height:50px;
    width:50px;
    color:#fff;
    padding:10px;
    border-radius: 5px;
    background-color:#2D4EF5;
    margin:10px;
}

.uploads-section h1{
    font-weight: 600;
font-size: 25px;
line-height: 24px;
margin-bottom: 25px;
margin-top: 25px;
color: #1E253A;

}


.uploadCuponImage{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 40%;
    /* border: 1px solid red; */
}

.uploadCuponImage input{
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
cursor: pointer;
}

.uploadCuponImage span{
    font-size: 16px;
line-height: 21px;
margin-bottom: 10px;
color: #1E253A;
}

.uploadCuponImage .upload97{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
font-size: 16px;
line-height: 16px;
margin-bottom: 10px;
color: #838690;
}

.uploadCuponImage .upload97::before{
 content: "";
 width:40px;
 height: 1px;
 background-color: #838690;
 display: block;
 margin-right: 5px;
}

.uploadCuponImage .upload97::after{
    content: "";
    width:40px;
    height: 1px;
    background-color: #838690;
    display: block;
    margin-left: 5px;
   }

   .uploadCupon-file{
    background: #2D4EF5;
    border-radius: 8px;
    color: white;
    padding: 10px 30px 10px 30px;
    cursor: pointer;
   }
.docUploadArea{
    display:flex;
    border-radius:5px;
    flex-direction: row;
    justify-items: baseline;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #edf1fe;
    padding:15px 0;
    height: 50px;
    width:100%;
    margin-top:1rem;
}
.docUploadArea div{
    margin:0 10px;
}
.uploadIcon{
    padding:0 10px;
}
.docUploadArea>div:nth-child(2){
    font-size:12px;
    color:rgba(128, 128, 128, 0.685);
}
.docUploadArea span{
    color:#2D3EF5;
}